<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polito.cesarldm.tfg_bitadroidbeta">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".MainMenuActivity"
            android:label="Bitadroid"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectDevicesActivity"
            android:label="Bluetooth search"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SelectConfigActivity"
            android:label="Bitalino configurations"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateConfigActivity"
            android:label="New configuration"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ShowDataActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Multiple channel recording"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <service
            android:name=".services.BitalinoDataService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".SelectRecordingActivity"
            android:label="Recordings"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ShowSingleDataActivity"
            android:label="Single channel recording"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <service
            android:name=".services.BitalinoCommunicationService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".HeartMonitorActivity"
            android:label="Heart Rate Monitor"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <service
            android:name=".services.GPSService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCnIq6q2rjkvISk2zCzLzA0JSmprs-OQTc" />

        <activity
            android:name=".PopMapActivity"
            android:label="My path"
            android:theme="@style/AppTheme.PopupCustomTheme" />
        <activity
            android:name=".PopBPMRRGraphActivity"
            android:label="Monitor values"
            android:theme="@style/AppTheme.PopupCustomTheme" />
        <activity
            android:name=".CtreateHMConfigActivity"
            android:label="HM Config"
            android:theme="@style/AppTheme.PopupCustomTheme"/>
    </application>

</manifest>